.rightClick {
  padding-bottom: 57vh;
}

.menu {
  float: right;
  margin-right: 43vw;
  background-color: white;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: center;
}

.menu li a{
  display: block;
  color: #000;
  padding: 12px 16px;
  cursor: pointer;
}

.menu li a:hover {
  background-color: rgba(0,0,0,0.6);
  color: white;
}

/** Dropdown **/
.drop-btn {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a:hover {
  background-color: rgba(0,0,0,0.6);
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

