<div id="projects">
  <svg class="my-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#400082"
      fill-opacity="1"
      d="M0,256L1440,128L1440,320L0,320Z"
    ></path>
  </svg>
</div>
<div class="my-info" >
  <div class="my-content" data-aos="fade-up">PROJECTS</div>
  <br />
  <br />

  <div class="columns is-multiline">
    <div class="column" *ngFor="let item of projects">
      <div class="my-card" data-aos="flip-left" >
        <div>
          <img
            class="my-card-image"
            [src]="item.imageUrl"
          />
        </div>
        <div class="my-card-text">
          <h2>{{ item.title }}</h2>
          <br>
          <button class="my-button" (click)="onDetail(item.detail)">Detail</button>&nbsp;
          <button class="my-button-secondary" [routerLink]="item.link">Visit</button>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<div class="modal" [ngClass]="{'is-active' : isModalActive}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="detail">
      {{projectDetail}}
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="onModalClose()"></button>
</div>
