.my-svg {
  margin-top: -245px;
}

.my-card {
  width: 330px;
  display: grid;
  grid-template-columns: 330px;
  grid-template-rows: 210px 180px;
  grid-template-areas: "image" "text";

  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.my-card-image {
  grid-area: image;
  background: cover;
}

.my-card-text {
  grid-area: text;
  margin: 25px;
}

.my-card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.my-card-text p {
  font-size:15px;
  font-weight: 300;
}
.my-card-text h2 {
  margin-top:0px;
  font-size:28px;
}

.my-card:hover {
  transform: scale(1.15);
  background-color: #400082;
  color: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}


/* .my-card {
  margin-left: 40px;
  width: 350px;
  height: 430px;
  padding: 25px 25px 0px 22px;
  border-radius: 40px;
  background-color: #400082;
  box-shadow: 10px 10px 15px #1a03319d, -7px -7px 12px #743eaa91;
  margin-top: 20px;
}

.my-card img {
  height: 200px;
  width: 200px;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #743eaa91,
    8px 8px 15px #2e06579d, -8px -8px 15px #743eaa91;
} */


