<div class="svg">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#400082"
      fill-opacity="1"
      d="M0,224L1440,96L1440,320L0,320Z"
    ></path>
  </svg>
</div>
<div class="my-info">
  <div class="my-content" data-aos="fade-up">SKILLS</div>
  <br />
  <br />
  <div class="columns" style="text-align: center;">
    <div class="column"></div>
    <a class="column">
      <img
        src="assets/logos/logo-python.svg"
        class="social-logo"
        title="Python"
      />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-javascript.svg"
        class="social-logo"
        title="Javascript"
      />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-csharp.svg"
        class="social-logo"
        title="C Sharp"
      />
    </a>
    <a class="column">
      <img src="assets/logos/logo-c++.svg" class="social-logo" title="C++" />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-typescript.svg"
        class="social-logo"
        title="TypeScript"
        style="width: 110px; height: 110px;"
      />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-nodejs.svg"
        class="social-logo"
        title="Node js"
      />
    </a>
    <div class="column"></div>
  </div>
  <br /><br />
  <div class="columns" style="text-align: center;">
    <div class="column"></div>
    <a class="column">
      <img
        src="assets/logos/logo-angular.svg"
        class="social-logo"
        title="Angular CLI"
      />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-nativescript.svg"
        class="social-logo"
        title="NativeScript"
        style="
          height: 75px !important;
          width: 75px !important;
          margin-top: 12px !important;
        "
      />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-flask.svg"
        class="social-logo"
        title="Flask"
      />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-netcore.svg"
        class="social-logo"
        title="Dot Net Core"
      />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-firebase.svg"
        class="social-logo"
        title="Firebase"
      />
    </a>
    <div class="column"></div>
  </div>
  <br /><br />
  <div class="columns" style="text-align: center;">
    <div class="column"></div>
    <a class="column">
      <img src="assets/logos/logo-html.svg" class="social-logo" title="HTML5" />
    </a>
    <a class="column">
      <img src="assets/logos/logo-css3.svg" class="social-logo" title="CSS3" />
    </a>
    <a class="column">
      <img src="assets/logos/logo-sass.svg" class="social-logo" title="SASS" />
    </a>
    <a class="column">
      <img
        src="assets/logos/logo-figma.svg"
        class="social-logo"
        title="Figma"
      />
    </a>
    <div class="column"></div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br />
</div>
