<div class="svg">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,160L1440,256L1440,320L0,320Z"
    ></path>
  </svg>
</div>

<div class="my-info">
  <div class="my-content"  data-aos="fade-up">SOCIAL</div>
  <br />
  <br />
  <div class="columns" style="text-align: center;">
    <div class="column"></div>
    <a class="column" href="https://www.facebook.com/profile.php?id=100004749930639" target="_blank">
      <img src="assets/logos/logo-facebook.svg" class="social-logo" />
    </a>
    <a class="column" href="https://github.com/2016CS107" target="_blank">
      <img src="assets/logos/logo-github.svg" class="social-logo" />
    </a>
    <a class="column" href="https://www.linkedin.com/in/usman-ali-508a94137/" target="_blank">
      <img src="assets/logos/logo-linkedin.svg" class="social-logo" />
    </a>
    <a class="column" href="https://stackoverflow.com/users/10436799/usman-ali" target="_blank">
      <img src="assets/logos/logo-stackoverflow.svg" class="social-logo" />
    </a>
    <a class="column" href="https://twitter.com/mua_320" target="_blank">
      <img src="assets/logos/logo-twitter.svg" class="social-logo" />
    </a>
    <div class="column"></div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br />
</div>
