/*---------------------------------*/
/*Basic Setup*/
/*---------------------------------*/
@font-face {
  font-family: 'Electrolize';
  src: url('./assets/fonts/Electrolize-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color:  #fff;
  color: #555;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow: hidden;
  scroll-behavior: smooth;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}


